$o-brand-primary:         #1A5C52;
$o-brand-odoo:            #12332F; // navbar background (via navbar.variables.scss !default)
$o-brand-secondary:       #D4621A;
$o-main-bg-color:         #F9F5F0;
$o-view-background-color: #FEFCF8;
